:root{
    --nav-color : rgba(61, 184, 108,0.5);
    --current-color: rgb(61, 184, 108);
}
html{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    line-height:1.6rem; 
    font-family:sans-serif;
}


nav{
    height: 100vh ; 
    width: 200px;
    color: var(--nav-color);
    display:flex; 
    justify-content: center; 
    align-items: center;
}
ul{
    height: 100vh;
    flex:1;
    margin-left: 20px;
}
.column-flex{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}
ul li{
    list-style: none;
    padding:20px 0; 
    transition: transform 100ms ease-in-out,
        color 100ms ease-in-out;
    cursor:pointer;
}
.row-flex{
    display:flex;

}


.line{
    width: 5px;
    background: var(--current-color);
    height: 100vh;
    align-items:center;
}

.circle{
    width: 15px; 
    height: 15px;
    background :var(--current-color);
    border-radius: 50%;
}

.current{
    color: var(--current-color);
    font-size: 1.3rem;
}

ul li:hover{
    transform: scale(1.1) translateX(8px);
    color: var(--current-color);
}
